body{
    margin: 10px;
    padding: 10px;
}

.grid{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 20px;
    height: 20px;
}

.snake{
    background-color:greenyellow;
}

.apple{
    background-color: blue;
}