*{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}


:root {
    --pimary-color:#4169E1;
    --secondary-color:black;
    --third-color:white;
    --bg-color:#f0f0f0;

}

.products_page{
    padding: 0;
    margin: 0;
    display: flex;
}

.products_sidebar_menu{
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: var(--pimary-color);
    padding: 2.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 30px 30px 0 ;
}

.menu_header{
    font-size: 1.5rem;
    color: var(--third-color);
}

.menu_options{
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--third-color);
    height: 40%;
    cursor: pointer;
}


.menu_options span a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.menu_options span a:hover{
    color: black;
    text-decoration: none;
}

.menu_option{
    padding: .8em;
    border-radius: 0 15px 15px 0;
}

.menu_option i{
    margin-right: 5px;
}

.menu_option:hover{
    color: var(--secondary-color);
}

.menu_footer{
    margin-bottom: 140px;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_option{
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--pimary-color);
    background-color: var(--third-color);
    padding: .8em;
    border-radius: 15px;
    padding-left: 3.3em;
    padding-right: 3.3em;
    align-self: center;
    cursor: pointer;
}

.home_option i{
    margin-right: 5px;
}

.home_option:hover{
    color: var(--secondary-color);
}

.home_option span a{
    color: var(--pimary-color);
}

.menu_footer_img{
    object-fit: cover;
    width: 190px;
    height: 190px;
}

.choosen{
    border-left:3px solid white ;
    background-color:var(--third-color) ;
    color:#4169E1;
    letter-spacing: 1px;
}

#chose{
    color: var(--pimary-color);
}
#chose:hover{
    color: var(--secondary-color);
}

/* ============================== Body ============================== */

.store_setting_body{
    /* border: 1px solid red; */
    margin-left: 330px;
    width: 75%;
    padding: 1em;
}


.setting_header{
    border: 1px solid var(--pimary-color00);
    height: 40vh;
    width: 95%;
    background-color:rgba(65,105,225,.3) ;
    border-radius: 30px;
    display: flex;
    padding: 1.5em;
}

.left_container{
    width: 60%;
    /* border: 1px solid green; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right_container{
    width: 40%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.store_setting_header_img{
    border: 15px solid white;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.header_name,.header_desc{
    color: var(--pimary-color);
}

.header_desc{
    overflow: hidden;
}

.header_btn{
    background-color: var(--pimary-color);
    color: white;
    width: 20%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.header_btn:hover{
    cursor: pointer;
    background-color:white;
    color:  var(--pimary-color);
}

.store_achievments{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.store_setting_card{
    width: 25%;
    background-color: var(--pimary-color);
    color: white;
    border-radius: 30px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total_card{
    margin: 0 auto;
}

.nb_card{
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.5rem;
}

.view_products{
    border-radius: 30px;
    background-color: white;
    color: var(--pimary-color);
    padding: .75em;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}

.view_products:hover{
    background-color: var(--pimary-color);
    color:white ;
}

/* ============================== products table ============================== */
.store_products{
    margin-top: 60px;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

#customers{
    width: 100%;

}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 1em;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--pimary-color);
    color: white;
}

.delete_product{
    padding: .60em;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

.delete_product:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}


/* ============================== store update ============================== */
.store_info{
    margin-top: 100px;
}

.store_info form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.desc{
    width: 90%;
}

.update_store_input{
    width: 40%;
    margin-bottom: 3em;
}

.store_info form div input,textarea{
    width: 100%;
    padding: 1em;
    border-radius: 30px;
    border: 3px solid var(--pimary-color);
}

.update_store{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.update_store button{
    border-radius: 30px;
    background-color: var(--pimary-color);
    color: white;
    font-weight: bold;
    padding: 1em;
    border: none;
    outline: none;
    width: 20%;
}

.update_store button:hover{
    background-color:white ;
    color: var(--pimary-color);
    cursor: pointer;
}

.delete_store{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: white;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    padding: 1em;
    width: 90%;
    justify-content: center;
}

.delete_store:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

/* .chose,.home_option{
    color: var(--pimary-color);
    text-decoration: none;
} */
a{
    color: inherit;
}

/* {{-- ===============================popup================================ --}} */
.profile_body{
    width: 70%;
    margin: 0 auto;
    border: 2px solid red;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    /* display: inline-block; */
    padding: 15px 20px;
    color: white;
    background: red;
    transition: background 150ms ease-out;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover, .button:active {
    background: #ff7961;
    transition: background 250ms ease-out;
}

.modal {
    position: fixed;
    z-index: 20;
    max-width: 85%;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    opacity: 1;
    transition: margin-top 150ms ease-out, opacity 150ms ease-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
@media screen and (max-height: 500px) {
    .modal {
        width: 80%;
    }
}
.modal__toggler {
    display: none;
}
.modal__toggler:not(:checked) ~ .modal {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    margin-top: -10px;
}
.modal__toggler:not(:checked) ~ .modal__mask {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.modal__mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 150ms ease-out;
    background: RGBA(0, 0, 0, 0.7);
    cursor: pointer;
}
.modal__close::after {
    content: "✕";
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.modal__title {
    margin: 0;
}
.modal__content {
    background: #eee;
    padding: 30px;
    max-height: 90vh;
    overflow-x: auto;
}
.demo-button {
    /* position: absolute; */
    /*transform: translate(-50%, -50%);*/
    background-color: transparent;
    color: red;
}

.demo-button:hover{
    background-color: transparent;
}

.sure_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

a{
    color: inherit;
    text-decoration: none;
}



/* ============================== store popup delete store ============================== */

.store_button {
    /* display: inline-block; */
    padding: 15px 20px;
    color: white;
    background: red;
    transition: background 150ms ease-out;
    border-radius: 2px;
    cursor: pointer;
}
.store_button:hover, .store_button:active {
    background: #ff7961;
    transition: background 250ms ease-out;
}

.store_modal {
    position: fixed;
    z-index: 20;
    max-width: 85%;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    opacity: 1;
    transition: margin-top 150ms ease-out, opacity 150ms ease-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
@media screen and (max-height: 500px) {
    .store_modal {
        width: 80%;
    }
}
.store_modal__toggler {
    display: none;
}
.store_modal__toggler:not(:checked) ~ .store_modal {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    margin-top: -10px;
}
.store_modal__toggler:not(:checked) ~ .store_modal__mask {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.store_modal__mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 150ms ease-out;
    background: RGBA(0, 0, 0, 0.7);
    cursor: pointer;
}
.store_modal__close::after {
    content: "✕";
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.store_modal__title {
    margin: 0;
}
.store_modal__content {
    background: #eee;
    padding: 30px;
    max-height: 90vh;
    overflow-x: auto;
}
.store_demo-button {
    /* position: absolute; */
    /*transform: translate(-50%, -50%);*/
    background-color: transparent;
    color: red;
}

.store_demo-button:hover{
    background-color: transparent;
}

.store_sure_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

a{
    color: inherit;
    text-decoration: none;
}

.delete_store_container{
    display: flex;
    justify-content: center;
}

.delete_store{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: white;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    padding: 1em;
    width: 90%;
    justify-content: center;
}

.delete_store:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.alert{
    color: red;
    margin-top: 0;
}
