/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
}


.container {
    margin-top: 60px;

}

.card {
    border: none;
    box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.1);
    background-color: #fcce29;
    width: 85%;
    height:650px;
    margin-left: 250px;
    border-radius: 30px;
    margin-top: 20px;
 
}

.card-header {
    /* position: absolute; */
    color: #fcce29;
    font-weight: bold;
    font-size: 50px;
    padding-left: 300px;
    padding-top: 30px;

}
.p1{
    position: absolute;
    background-color: white;
    width: 33%;
    height: 95%;
    border-radius: 30px;
}
.card-header2 {
    color: #ffffff;
    position: absolute;
width: 100%;
    font-weight: bold;
    font-size: 50px;
    padding-left: 530px;
    margin-top: 30px;

}

.card-body {
    padding: 20px;
    margin-top: 10px;
    margin-left: 100px;

}

.form-label {
    font-weight: 400;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 12px;
    margin-left: 700px;
    padding-top: 90px;
position: absolute;
}

.btn-primary {
    background-color: #362d0f;
    border-color: #fcce29;
    margin-left: 750px;
    width: 100px;
    height: auto;

    color:white ;
}

.btn-primary:hover {
    background-color: #ffffff;
    color:#fcce29 ;
    border-color: #fcce29;
    border-radius: 20px;
    width: 100px;
    height: auto;
}

.btn-link {
    color: #fcce29;
    font-size: 10px;
    margin-left: 230px;
    margin-top: -10px;
    position: absolute;
}

.btn-signup {
    color: #ffffff;
    font-size: 15px;
    margin-left: 550px;
    margin-top: 70px;
    position: absolute;
}
.signup{
    color: #ffffff;
    text-decoration: underline;

}


/* Specific Styles */
.card-left {
    padding: 20px;
    margin-top: 100px;
}

.card-right {
    background-color: #f8f9fa; /* Choose your background color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 110px;
}

.welcome-image {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    margin-top: -50px;
    margin-left:10px;
 
    position: absolute;
}
.or{
    margin-left: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.custom-input {
    position: absolute;
    border: 0px ;
    background-color:#ffffff ;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
    margin-left:700px;
    margin-top: 0px;
   
}

.custom-input:focus {
    border-color: #ffe600;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
#password-confirm:focus {
    border-color: #ffe600;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
#password:focus {
    border-color: #ffe600;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}

.custom-button {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    position: absolute;
    color: #ffffff;
    border-radius: 0.5rem;
    margin-left: 280px;
    margin-top: 20px;

}

.custom-button:hover {
    color: #fff;
    background-color: #9b7f00;
    border-color: #9b7f00;
}

.custom-button:focus {
    outline: 0;

}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: -100px;
}

#password-confirm{
    border: 0px ;
    background-color:#ffffff ;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
}
#password{
    border: 0px ;
    background-color:#ffffff ;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
}

.form-group label {
    flex: 0 0 20%; /* Adjust the width of labels as needed */
    text-align: end;
    margin-left: 550px;
    margin-top: 10px;
    padding-right: 1rem; /* Adjust spacing between label and input */
}



/* signup.css */

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -60px;
    margin-right: 2rem;
}

.flex-row {
    flex-direction: row;
}

.absolute {
    position: absolute;
}
